/* .img1{
    background-image:url(./game.jpg);
    min-height: 400px;
}

.img1{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

/* .pimg1{
    min-height: 400px;
} */